[Desktop Entry]
Type=Application
Exec=google-chrome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=Google Chrome
Name=Google Chrome
Comment[en_US]=
Comment=
