[user]
	email = 38833034+Hussein-Mourad@users.noreply.github.com
	name = Hussein-Mourad
	signingkey = C92BAB7BDBDE47C5
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = vim
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[safe]
	directory = /mnt/f/robocon_computer-vision
	directory = /mnt/f/fresh_linux_install
[color]
	ui = auto
