[user]
	email = 38833034+Hussein-Mourad@users.noreply.github.com
	name = Hussein-Mourad
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /mnt/e/php_projects/blog-website-laravel
	directory = /mnt/e/php_projects/blog-website
	directory = /mnt/work/python_projects/python_test_projects
	directory = /mnt/work/python_projects/CDS
	directory = /mnt/work/python_projects/CDS-0.8.5
	directory = /mnt/work/python_projects/yaman
	directory = /mnt/work/qemu-vms/macOS-Simple-KVM/tools/dmg2img-src
	directory = /mnt/work/qemu-vms/macOS-Simple-KVM/tools/dmg2img-src
	directory = /mnt/work/qemu-vms/macOS-Simple-KVM/tools/dmg2img-src
[core]
	autocrlf = input
